fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
streamlit
requests
pandas
matplotlib
apscheduler
python-multipart
pydantic[all]
email-validator
python-dotenv
psycopg2-binary
